asgiref==3.5.1
astmonkey==0.3.6
astor==0.8.1
atomicwrites==1.4.0
attrs==21.4.0
bytecode==0.13.0
colorama==0.4.4
commonmark==0.9.1
Django==3.2.10
django-cors-headers==3.11.0
djangorestframework==3.13.1
djongo==1.3.6
dnspython==2.2.1
iniconfig==1.1.1
jellyfish==0.9.0
Jinja2==3.1.0
MarkupSafe==2.1.1
MutPy-Pynguin==0.7.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
networkx==2.7.1
ordered-set==4.1.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydot==1.4.2
Pygments==2.11.2
pymongo==4.1.1
PyMySQL==1.0.2
pyparsing==3.0.7
pytest==6.2.5
pytz==2022.1
PyYAML==6.0
rich==11.2.0
simple-parsing==0.0.17
sqlparse==0.2.4
termcolor==1.1.0
toml==0.10.2
tomli==2.0.1
typing-inspect==0.7.1
typing_extensions==4.1.1
tzdata==2022.1
